@import 'font.css';
* {
    margin:0;
    padding: 0;
    font-family: "Bebas";
}

header {
    position: relative;
    width: 100%;
    display: block;
    height: 100vh;
    background-color: #3C3C6C;
}

.US_Senate_logo{
    display: inline-block;
    width: 4%;
    margin-top: 10px;
    margin-left: 30px;
}

nav{
    width: 100%;
    display: inline-block;
    height: 15vh;
}

nav ul {
    float: right;
    margin-right: 70px;
    margin-top: 30px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    height:60px;
    line-height: 60px;
}

nav ul li a{
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

nav ul li a:hover:after{
    width:100%;
    transform-origin: center;
    transform: scale(1,1);
}

#US_senate_wrapper {
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 0;
}

#US_senate_wrapper img {
    max-width: 100%;
    height: auto;
}

#title {

    margin-top: 10px;
}

#Title_wrapper {
    display: block;
    position: absolute;
    top: 25%;
    left:2%;
}
#Title_wrapper h1{
    max-width: 100%;
    font-family: "Bebas";
    font-size: 1000%;
    color: white;
}
#Title_wrapper img {
    float: left;
    width: 25%;
    margin-right: 20px;
}

.container {
    width: 100%;
    height: 100vh;
}
.card {
    float: left;
    position: relative;
    margin: 10vw 3vw;
    width: 20vw;
}

#democratic_card {
    float: right;
}

.lead_role_container {
    margin: 2vw 0;
    display: inline-block;
    width: 48vw;
}
.card_border {
    border-radius: 1.5rem;
    background-color: white;
}

#lead_role_info_table {
    width: 100%;

}

.card_title {
    text-align: center;
    color: white;
    position: relative;
    margin: 0 auto;
    display: block;
    width: 100%;
    font-size: 2.5rem;
    background-color: #B42434;    
}

#republican_logo, #democratic_logo {
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border:5px solid #B42434;
    border-bottom: 0px;
    padding: 10px;
    display: block;
    margin: 0 auto;
    width: 10%;
}

#democratic_logo {
    border-color: #3C3C6C;
}
#democratic_title {
    background-color: #3C3C6C;
}
#republican_title, #democratic_title
{
    height: 100px;
    line-height: 100px;
}

.card_count {
    display: block;
    border:5px solid #B42434;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#democratic_card_count {
    border-color: #3C3C6C;
}

.count {
    margin-top: 20%;
    text-align: center;
    font-size: 15rem;
    color:#B42434
}
#democratic_count {
    color: #3C3C6C;
}

.senate_leaders, .senators_title {
    color: #747094;
    text-align: center;
    margin-bottom: 2vh;
    font-size: 2.8rem;
}

#lead_role_info_table, #senators_table {
    border-collapse: collapse;
    font-size: 1.5rem;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    text-align: center;
}

#lead_role_info_table thead tr th {
    background-color: #747094;
    color: white;    
}



#lead_role_info_table thead tr th,
#lead_role_info_table tbody tr td {
    padding: 10px 15px;
}

#lead_role_info_table thead tr th {
    vertical-align: middle;
}

#lead_role_info_table thead{
    font-size: 2rem;
}


#lead_role_info_table tbody tr {
    border-bottom: #CCCCD9 2px solid;
}


#lead_role_info_table tbody tr:last-of-type {
    border-bottom: #747094 5px solid;
}

.senators_container {
    background-color: #B42434;
}

.senators_table_container {
    position: relative;
    display: block;
    padding: 5vh;
    margin: 0 auto;
    width: 60%;
    height: 100vh;
    overflow: auto;
}
.senators_title {
    color: white;
}
#senators_table {
    color: white;
    width: 100%;
    white-space: nowrap;
}

#senators_table thead tr th {
    background-color: white;
    color: #B42434;
}

#senators_table thead tr th,
#senators_table tbody tr td {
    padding: 15px 10px;
}

#senators_table tbody tr {
    border-bottom: 2px #CCCCD9 solid;
}

#senators_table tbody tr:last-of-type {
    border-bottom: white 10px solid;
}

#senators_table tbody tr td a {
    color: inherit;
    text-decoration: none;
}

.dropdown_container {
    width: 80%;
    height: 10%;
}

.dropdown {
    display: inline-block;
    flex: left;
    width: 33%;    
}

.default {
    background-color: black;
}

.default:hover {
    background-color: white;
}

.default, .menu {
    padding: 15px;
    font-size: 1.5em;
    border: none;
    outline: none;
    width: 100%;
    color: black;
    transition: 0.2s;
}

.menus {
    height: 30%;
    overflow: auto;
    position: relative;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}

.menu:hover {
    transform: scale(1.2);
}

.menus_on_click {
    transform: scaleY(1);
}