@import 'font.css';
* {
    margin:0;
    padding: 0;
    font-family: 'Oswald', sans-serif;   
    color: whitesmoke;
    
}
body{
    background-color: #002868;
    
}

header {
    position: relative;
    width: 100%;
    display: inline-block;
    height: 10rem;
    background-color: #9D2146;
    background-image: url("../images/us-sonsh.gif");  
    
    
    
    
}


#Title {
    position: relative;
    float: right;
    margin-right: 30px;
    padding-left: 39px;
    margin-top: 46px;
    
    width: 380px;
    background-color: black;
    height: 60px;
    font-size: 19px;
}

nav{
    width: 100%;
    display: inline-block;
    margin-left: 2rem;
    margin-top: 0.65rem;
    width: 8%;
}
#rep{
    display: inline;
      
}
#dem{
    
}

#id01{
     display: inline; 
     width: 40px;

}
#sen{
    color: blue;
}
#states{
    color: red;
}
table,td,th {
    border: 3px solid #f9004d;
    padding: 7px;
    font-size: 18px;
    
}
table{
    margin-top: 20px;
    border-collapse: collapse;
    text-align: left;    
    
}
