* {
    margin:0;
    padding: 0;
    font-family: "Public Sans";
}

header {
    position: relative;
    width: 100%;
    display: block;
    height: 85vh;
    background-color: #3C3C6C;
}

#US_senate_wrapper {
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 0;
}

#US_senate_wrapper img {
    max-width: 100%;
    height: auto;
}




#Title_wrapper {
    font-family: "Helvetica";
    display: inline-block;
    width:20%;
    height: fit-content;
    position: absolute;
    top: 20%;
    left:10%;
}
#Title h1{
    display: inline-block;
}
#Title_wrapper img {
    width: 30%;
}