* {
    margin:0;
    padding: 0;
    font-family: "Public Sans";
}

header {
    width: 100%;
    display: inline-block;
    height: 10rem;
    background-color: #3C3C6C;
}


#Title {
    display: inline-block;
    text-align: center;
    position: relative;
}

header img {
    display: inline-block;
    margin-left: 2rem;
    margin-top: 0.65rem;
    width: 9.5%;
}